name: Test HCP connection workflow

on: [push]

workflow_dispatch: 

jobs:
  build:      
    runs-on: ubuntu-latest
    steps:
    - name: Test HCP connection workflow 
      run: | 
        echo "Running workflow .... "
      
