name: Test HCP connection workflow

on: 
  workflow_dispatch: 
  push:

jobs:
  build:      
    runs-on: ubuntu-latest
    steps:
      - name: Test HCP connection workflow 
        run: | 
          echo "Running workflow .... "
      
